html,body{
    height: 100%;
}
body{
    margin: 0;
    .box{
       width: 100%;
       @extend html;
       display: flex;
       flex-direction: column;
       header{
           width: 100%;
           height: 50px;
           background: #00FFFF;
       } 
       section{
            overflow-y: auto;
            width: 100%;
            flex: 1;           
           
           ul{
               padding: 0;
               margin: 0;
               list-style: none;
           }
       }
       footer{
          width: 100%;
           height: 50px;
           background: #00FFFF; 
       }
    }
    
}




